@{
}
@model List<Event>
<div class="container">
    <div class="col-10">
        <h1>Events</h1>
        <div><a href="/event/create" class="mx-1 btn btn-sm btn-outline-warning">Create</a></div>
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Location</td>
                        <td>@item.Description</td>
                        <td>
                            <div class="d-flex">
                                <a href="/event/edit/@item.Id" class="mx-1 btn btn-sm btn-outline-warning">Edit</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts{
    <script>

    </script>
}